/* DISCOUNTS SECTION */
.index-slogan-img-view {
  width: 100%;
}

.index-slogan-img-view > img {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}

.index-discounts-img {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

img.discounts-img-ladies-img,
img.discounts-img-mens-img {
  border-radius: 10px;
  width: 100%;
}

article.discounts-img-ladies {
  margin-right: 1%;
}

section.index-text-box {
  margin-top: 10px;
  /* border: 1px solid grey; */
  background-color: #8080801c;
  padding: 1px;
  width: 100%;
}

p.index-text-box-text {
  font-size: 35px;
  text-align: center;
  font-weight: 800;
}
/* DISCOUNTS SECTION */

/* CHARGE CARD */

.charge-section-title {
  text-align: center;
}
.charge-section-title-title {
  font-size: 35px;
  font-weight: 700;
}

.charge-card {
  border: 1px solid rgba(0, 0, 0, 0.055);
  /* width: 20%; */
  margin-right: 1%;
}

.charge-slider > .charge-card:nth-child(5) {
  margin-right: 0;
}

.charge-slider {
  display: flex;
  justify-content: space-between;
}

/* NEW LINES NEED ADD TO ANGULARJS */






/* NEW LINES NEED ADD TO ANGULARJS */


.charge-card-information-brand-size {
  display: flex;
  justify-content: space-between;
}

.charge-card-information-brand > span {
  text-transform: uppercase;
  font-weight: 700;
}

.charge-card-information-size > span {
  text-transform: uppercase;
  font-weight: 100;
}

.charge-card-information-startprice-newprice {
  display: flex;
  justify-content: space-between;
}

.charge-card-information-startprice {
  color: grey;
}

.charge-card-information-newprice {
  color: #b99b68;
}

.charge-card-saved-text-percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charge-card-saved-percent > p {
  font-weight: 600;
  background-color: #ff7c00;
  color: white;
  padding: 4px;
  border-radius: 4px;
  margin-top: 5px;
}

.charge-card-btn {
  text-align: center;
  margin-top: 5px;
}

.btn-add,
.nonbtn-added {
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
}

.btn-add {
  background-color: #eeeeee;
  color: #b38e4d;
  cursor: pointer;
}
.nonbtn-added {
  background-color: #b38e4d;
  color: white;
}

.charger-card-img > img {
  width: 100%;
}
/* CHARGE CARD */

/* BRAND CARD */
.popular-brands {
  margin-top: 100px;
  background-color: #8080801c;
  padding: 1px 0 40px 0;
}

.popular-brands-title {
  text-align: center;
}
p.popular-brands-title-p {
  font-size: 30px;
  font-weight: 700;
}

.popular-brands-title-brands {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.brand-card,
.brand-card-title,
.brand-card-size {
  text-align: center;
  font-weight: 700;
}

.brand-card {
  text-transform: uppercase;
}

.brand-card-title {
  margin-bottom: 15px;
  font-size: 25px;
}

.brand-card-size {
  margin-bottom: 5px;
  font-size: 20px;
}

.brand-card-status {
  font-weight: 500;
  font-size: 17px;
}

/* BRAND CARD */

/* WHY CHOOSE ADVICE */
.why-choose-advice-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.why-choose-advice {
  margin-top: 50px;
  margin-bottom: 50px;
}

.why-choose-advice-title {
  text-align: center;
}

.why-choose-advice-title > p {
  font-size: 30px;
  font-weight: 600;
}

.why-choose-advice-flex {
  display: flex;
  justify-content: space-evenly;
}

.why-choose-advice-shipping > i.fas,
.why-choose-advice-load > i.fas,
.why-choose-advice-percent > i.fas,
.why-choose-advice-sale > i.fas,
.why-choose-advice-products > i.fas {
  font-size: 50px;
  margin-bottom: 5px;
}

/* WHY CHOOSE ADVICE */

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #8080801c;
  background-color: #8080801c;
  bottom: -136px;
  position: relative;
}

.contact-us-section > article {
  margin-bottom: 5px;
}

.footer-mail,
.footer-mobile,
.footer-clock {
  font-size: 25px;
}

.contact-us-section > article > span {
  font-size: 20px;
}

/* FOOTER */

/* POPUP WINDOW --- LOGIN AND REGISTER */
/* LOGIN >>>>>> */
.popup-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
}

.popup-window-login-register-section {
  border-bottom: 1px solid black;
}

.popup-window-login,
.popup-window-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 100px;
  background-color: #fff;
}

.popup-window-login-logo {
  text-align: center;
  background-color: #b38b45;
}
.popup-window-login-logo > img {
  width: 30%;
}

.popup-login,
.popup-register,
.popup-forgot-password {
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
}

.popup-active-btn {
  border-bottom: 2px solid #b38e4d;
  color: #b38b45;
}

.popup-windows-login-register-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.popup-window-login-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-window-login-form-text,
.popup-window-register-form-text,
.popup-window-forgot-password-form-text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.popup-window-login-form,
.popup-window-register-form,
.popup-forgot-password-form {
  width: 90%;
  margin: auto;
  /* display: none; */
}

#email,
#password,
#repeatPassword {
  width: 100%;
}

#submit-login,
#submit-register,
#submit-confirm {
  width: 50%;
  background-color: #b38b45;
  color: white;
  cursor: pointer;
}

#email,
#password,
#submit-register,
#submit-login,
#submit-confirm,
#repeatPassword,
#firstName,
#lastName,
#phone {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

.second-hand-btn {
  width: 200px;
  height: 30px;
  background-color: #b38b45;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

.login-form-forgot-password {
  width: 100%;
  margin-bottom: 20px;
}

.login-form-forgot-password > a > p {
  float: right;
}

/* REGISTER >>>> */

.popup-window-register-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-window-register-form-names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup-window-register-form-text > p {
  font-weight: 600;
}

.popup-window-register-form-text > p:first-child {
  margin-bottom: 0;
}

.popup-window-register-form-text > p:last-child {
  margin-top: 0;
}

.popup-window-register-form-gender > label {
  font-size: 20px;
}

#male-gender {
  margin-left: 60px;
}

#male-gender,
#female-gender {
  transform: scale(1.5);
  accent-color: #b38b45;
  margin-bottom: 20px;
}

/* POPUP WINDOW --- LOGIN AND REGISTER */

/* POPUP WINDOW --- FORGOT PASSWORD */

.popup-window-forgot-password-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* POPUP WINDOW --- FORGOT PASSWORD */
